.clickable:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.2);
}
.border {
    border: rgba(128, 128, 128);
    border-style: solid;
}
.timeslot {
	font-size: 1.3em;
    user-select: none;
    border-width: 0px 1px 0px 0px;
    text-align: center;
    padding-top: 8px;
    background: #f6f6f5;
    height: 40px;
}
.locked_overlay {
	background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}